
                            <div id="download" class="col s12">
                                <form id="flashcard-form" class="col s12">
                                    <div class="row">
                                        <div class="col m6 s12">
                                            <div class="input-field">
                                                <div class="textarea-container">
                                                    <textarea id="sentences"
                                                              class="materialize-textarea"
                                                    >this
text
is
editable
you
can
text
here
your
words
and
phrases
each
on
row</textarea>
                                                </div>
                                                <label for="sentences">Words</label>
                                                <span class="helper-text">
                                                    Copy your words or phrases and paste it to this field.<br />
                                                    Each word or phrase must be in one row.
                                                </span>
                                            </div>
                                            <span class="badge row-counter">0 rows</span>
                                        </div>
                                        <div class="col m6 s12">
                                            <div class="row">
                                                <div class="col s12 truncate">
                                                    <a class="modal-trigger teal-text lighten-1"
                                                       href="#modal-download-direction"
                                                    >Direction</a>
                                                    <label>select the direction of translation</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col m6 s12">
                                                    <div class="input-field">
                                                        <select id="source"></select>
                                                        <label for="source">Source language</label>
                                                    </div>
                                                </div>
                                                <div class="col m6 s12">
                                                    <div class="input-field">
                                                        <select id="target"></select>
                                                        <label for="target">Target language</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col m6 s12">
                                                    <div class="row">
                                                        <div class="col s12 truncate">
                                                            <a class="modal-trigger teal-text lighten-1"
                                                               href="#modal-download-options"
                                                            >Options</a>
                                                            <label>for the file content</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <div class="switch">
                                                                <label class="truncate">
                                                                    <input type="checkbox" id="definitions" />
                                                                    <span class="lever"></span>
                                                                    Definitions
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <div class="switch">
                                                                <label class="truncate">
                                                                    <input type="checkbox" id="definition-examples" />
                                                                    <span class="lever"></span>
                                                                    Examples for Definition
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <div class="switch">
                                                                <label class="truncate">
                                                                    <input type="checkbox" id="definition-synonyms" />
                                                                    <span class="lever"></span>
                                                                    Synonyms for Definition
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <div class="switch">
                                                                <label class="truncate">
                                                                    <input type="checkbox" id="examples" />
                                                                    <span class="lever"></span>
                                                                    Examples
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <div class="switch">
                                                                <label class="truncate">
                                                                    <input type="checkbox" id="related-words" />
                                                                    <span class="lever"></span>
                                                                    <span>
                                                                        Related words
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <div class="switch">
                                                                <label class="truncate">
                                                                    <input type="checkbox" id="speech-parts" />
                                                                    <span class="lever"></span>
                                                                    <span>
                                                                        Parts of speech apart
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col m6 s12">
                                                    <div class="row">
                                                        <div class="col s12 truncate">
                                                            <a class="modal-trigger teal-text lighten-1"
                                                               href="#modal-download-format"
                                                            >Format</a>
                                                            <label>of the output file</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <label>
                                                                <input name="format" type="radio" value="anki" />
                                                                <span>Anki (txt)</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <label>
                                                                <input name="format" type="radio" value="reword" />
                                                                <span>Reword (csv)</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <label>
                                                                <input name="format" type="radio" value="custom" disabled />
                                                                <span>
                                                                    Your format<br />
                                                                    <a href="https://t.me/flashcard_dot_uno_support" target="_blank">
                                                                        <small>suggest to developer</small>
                                                                    </a>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 truncate">
                                                    <a class="modal-trigger teal-text lighten-1"
                                                       href="#modal-download-filename"
                                                    >Custom filename</a>
                                                    <label for="custom-filename">without extension</label>
                                                    <div class="input-field col s12">
                                                        <input id="custom-filename" type="text" class="validate" placeholder="name for output file">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="buttons col s12">
                                                    <button class="btn waves-effect waves-light truncate"
                                                            id="download-btn"
                                                    >
                                                        <i class="material-icons right">file_download</i>
                                                        Download
                                                    </button>
                                                    <button class="btn waves-effect waves-light orange darken-2 truncate"
                                                            id="upload-btn"
                                                    >
                                                        <i class="material-icons right">file_upload</i>
                                                        Upload to Google Drive
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <pre id="content" style="white-space: pre-wrap;"></pre>
                            </div>
                            <script src="{{ asset('assets/js/index/download/form-on-submit.js') }}"></script>
                            <script src="{{ asset('assets/js/index/download/form-row-counter.js') }}"></script>
                            <script src="{{ asset('assets/js/index/download/form-select.js') }}"></script>
                            <script src="{{ asset('assets/js/index/download/form-options.js') }}"></script>
                            <script src="{{ asset('assets/js/index/download/form-format.js') }}"></script>
                            <script src="{{ asset('assets/js/google/drive.js') }}"></script>
                            <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
                            <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
