
                            <div id="introduction" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <h5 >Hey there!</h5>
                                        <p>
                                            Are you currently learning a foreign language?
                                            If yes, we have an amazing website that can make the process easier for you.
                                            Our Language Learning Resource helps you create electronic flashcards with foreign words.
                                            The flashcards contain not just translations but also descriptions from a dictionary, synonyms, and usage examples.
                                            This means you get a complete dictionary of the words you need in one file,
                                            ready to be imported into your application for word repetition.
                                        </p>
                                        <p>
                                            Here are a few scenarios where our service can save you time:
                                        </p>
                                        <h5>
                                            Watching movies and TV shows with subtitles to learn a foreign language.
                                        </h5>
                                        <p>
                                            Before you start watching, you can upload the subtitle file to our website and get a ready-made file with translations,
                                            word descriptions, synonyms, and usage examples. No more manual inputting of unfamiliar words!
                                            ( <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-subtitles-phrases-1">step 1</a> |
                                            <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-subtitles-phrases-2">step 2</a> |
                                            <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-subtitles-phrases-3">step 3</a> )
                                        </p>
                                        <h5>
                                            Expanding your vocabulary by reading books and texts.
                                        </h5>
                                        <p>
                                            Instead of writing down each unfamiliar word, upload the entire book to our website
                                            and get a list of all unique words used in that book.
                                            You can also create word lists for each chapter and get corresponding dictionaries.
                                            ( <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-book-words-1">step 1</a> |
                                            <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-book-words-2">step 2</a> |
                                            <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-book-words-3">step 3</a> )
                                        </p>
                                        <h5>
                                            Actively expanding your vocabulary.
                                        </h5>
                                        <p>
                                            Enter your collected words into the Download form and immediately get a file with translations and detailed descriptions.
                                            ( <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-my-words-1">step 1</a> |
                                            <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-my-words-2">step 2</a> |
                                            <a class="modal-trigger teal-text lighten-1" href="#modal-introduction-video-my-words-3">step 3</a> )
                                        </p>
                                        <p>
                                            Our platform is perfect for anyone studying foreign languages, mastering a new language,
                                            or simply looking to improve their language fluency.
                                            Our website is currently in the testing phase, and we are offering our service for free.
                                            We hope to receive feedback, comments, and suggestions from our users.
                                        </p>
                                        <p>
                                            If your language learning application is not supported, please contact us,
                                            and we will be happy to add the necessary file format to our service.
                                            We value our users' feedback, so please don't hesitate to reach out and share your thoughts and requirements.
                                            Thank you for choosing our service, and we look forward to a productive partnership!
                                        </p>
                                        <p>
                                            (<a href="https://t.me/flashcard_dot_uno_support" target="_blank">
                                                Support Chat
                                            </a> | <a href="#" id="redirectToPreprocessing">
                                                Continue
                                            </a>)
                                        </p>
                                    </div>
                                </div>
                                {{ include('index/introduction/modals/introduction-video-subtitles-phrases-1.html.twig') }}
                                {{ include('index/introduction/modals/introduction-video-subtitles-phrases-2.html.twig') }}
                                {{ include('index/introduction/modals/introduction-video-subtitles-phrases-3.html.twig') }}
                                {{ include('index/introduction/modals/introduction-video-book-words-1.html.twig') }}
                                {{ include('index/introduction/modals/introduction-video-book-words-2.html.twig') }}
                                {{ include('index/introduction/modals/introduction-video-book-words-3.html.twig') }}
                                {{ include('index/introduction/modals/introduction-video-my-words-1.html.twig') }}
                                {{ include('index/introduction/modals/introduction-video-my-words-2.html.twig') }}
                                {{ include('index/introduction/modals/introduction-video-my-words-3.html.twig') }}
                                {{ include('index/introduction/modals/download-direction.html.twig') }}
                                {{ include('index/introduction/modals/download-options.html.twig') }}
                                {{ include('index/introduction/modals/download-format.html.twig') }}
                            </div>
