<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#2e2c2b">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="apple-touch-icon" href="{{ asset('assets/img/logo192.png') }}"/>
        <title>{% block title %}Flashcard online service for improving your vocabulary.{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-PE97QR6H6F"></script>
            <script src="{{ asset('assets/js/libs/google/analytics.js') }}"></script>
            <script src="{{ asset('assets/js/libs/xregexp/xregexp-all.js') }}"></script>
            <script src="{{ asset('assets/js/libs/materialize/materialize.min.js') }}"></script>
            <script src="{{ asset('assets/js/script.js') }}" type="module"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% block body %}
        <header class="hide">
            {% block header %}{% endblock header %}
        </header>
        <main class="container hide">
            <div class="row" style="flex: 1">
                <div class="col s12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <footer class="hide">
            {% block footer %}{% endblock footer %}
        </footer>
        {% endblock %}
    </body>
</html>
